.loader {
    --color-1: #fff;
    --color-2: #ff3d00;
    --size: 1px;
    width: calc(48 * var(--size));
    height: calc(48 * var(--size));
    border: calc(3 * var(--size)) solid var(--color-1);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--color-2);
    width: calc(16 * var(--size));
    height: calc(16 * var(--size));
    transform: translate(-50%, 50%);
    border-radius: 50%;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
