.loader {
    --color-1: #fff;
    --size: 1px;
    width: calc(48 * var(--size));
    height: calc(48 * var(--size));
    display: inline-block;
    position: relative;
}

.loader::after,
.loader::before {
    content: "";
    width: calc(48 * var(--size));
    height: calc(48 * var(--size));
    border-radius: 50%;
    background: var(--color-1);
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    animation: animloader 2s ease-in-out infinite;
}

.loader::after {
    animation-delay: 1s;
}

@keyframes animloader {
    0%,
    100% {
        transform: scale(0);
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 0;
    }
}
