.loader {
    --color-1: #fff;
    --color-2: #ff3d00;
    --size: 1px;
    width: calc(48 * var(--size));
    height: calc(48 * var(--size));
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: calc(3 * var(--size)) solid;
    border-color: var(--color-1) var(--color-1) transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: calc(3 * var(--size)) solid;
    border-color: transparent var(--color-2) var(--color-2);
    width: calc(24 * var(--size));
    height: calc(24 * var(--size));
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
