.loader {
    --color-1: #ff3d00;
    --color-2: #fff;
    --size: 1px;
    width: calc(48 * var(--size));
    height: calc(48 * var(--size));
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: calc(2 * var(--size)) solid var(--color-1);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: calc(4 * var(--size));
    top: calc(4 * var(--size));
    border: calc(2 * var(--size)) solid var(--color-2);
    width: calc(12 * var(--size));
    height: calc(12 * var(--size));
    border-radius: 50%;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
