.loader {
	--color-1: #fff;
	--color-2: #ff3d00;
	--size: 1px;
	width: calc(16 * var(--size));
	height: calc(16 * var(--size));
	border-radius: 50%;
	display: block;
	margin: calc(15 * var(--size)) auto;
	position: relative;
	background: var(--color-2);
	color: var(--color-1);
	box-shadow:
		calc(-24 * var(--size)) 0,
		calc(24 * var(--size)) 0;
	box-sizing: border-box;
	animation: rotation 2s ease-in-out infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
