.loader {
    --color-1: #fff;
    --color-2: rgba(255, 255, 255, 0.15);
    --size: 1px;
    border: calc(2 * var(--size)) solid;
    border-color: transparent var(--color-1);
    width: calc(48 * var(--size));
    height: calc(48 * var(--size));
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
}

.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    border: calc(24 * var(--size)) solid;
    border-color: transparent var(--color-2);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
